@import url(https://fonts.googleapis.com/css?family=Lora);

#title{
    font-family: Lora, serif;
    font-weight: bold;
    color: #524a32;
}

#period{
    font-family: Lora, serif;
    color: #524a32;
}

#sliderValues{
    font-family: Lora, serif;
    color: #524a32;
}

#sliderValue{
    font-family: Lora, serif;
    color: #524a32;
}

.fontClass{
    font-family: Lora, serif;
    color: #524a32;
}
.border-bottom{
    border:white;
}

body {
    font: 10px sans-serif;
    background-color: #f8f7f1;
}


#popup {
    position: absolute;
    background-color: white;
    border: 1px solid #d4d0c5;
    border-radius: 9px;
    padding: 5px;
    z-index: 1;
    font-family: "Lora", serif;
}

#popupChoropleth {
    position: absolute;
    background-color: white;
    border: 1px solid #d4d0c5;
    border-radius: 9px;
    padding: 5px;
    z-index: 1;
    font-family: Lora, serif;
    text-align: center;
}

#popupScatterPlot {
    position: absolute;
    background-color: white;
    border: 1px solid #d4d0c5;
    border-radius: 9px;
    padding: 5px;
    z-index: 1;
    font-family: Lora, serif;
    text-align: center;
}

.svg-container {
    display: inline-block;
    width: 100%;
    padding-top: 52.5%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-container-largo {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 44%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: orange;
}


.x.axis path {
    display: none;
}

/* cose del parallel da esempio github */
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

#anim { position: relative;
    animation: myfirst 1.7s 1;
    animation-direction: normal ;
}
#animTwo { position: relative;
    animation: myfirst 1.7s 1;
    animation-direction: normal ;
}

#animTwo { position: relative;
    animation: myfirst 1.7s 1;
    animation-direction: normal ;
}

@keyframes myfirst {
    0%   { top: -32px;}
    100% { top: 0;}
}

#animThree { position: relative;
    animation: mysecond 1.7s 1;
    animation-direction: normal ;
}

#animFour { position: relative;
    animation: mysecond 1.7s 1;
    animation-direction: normal ;
}


@keyframes mysecond {
    0%   { bottom: -32px;}
    100% { bottom: 0;}
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

button.circular-button {
    width: 40px; /* Diametro */
    height: 40px; /* Diametro */
    border-radius: 50%; /* Rende il bordo circolare */
    border: 1px solid #d4d0c5; /* Imposta il bordo a 0.5px di spessore e colore nero */
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    align-content: center;
    transition:all 0.3s;
    box-shadow: 0 2px 4px darkslategray;
}

button.bucket {
    width: 40px; /* Diametro */
    height: 40px; /* Diametro */
    border-radius: 50%; /* Rende il bordo circolare */
    border: 1px solid #f7f3eb; /* Imposta il bordo a 0.5px di spessore e colore nero */
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    align-content: center;
    transition:all 0.3s;
}

@keyframes pop {
    0% {
        clip-path:circle(5%);
        transform:scale(0.5);
    }
    100% {
        clip-path:circle(50%);
        transform:scale(1);
    }
}

#choroplethMap {
    top: 5px; /* Distanza dalla parte superiore */
    right: 20px; /* Distanza dalla parte destra */
    left: 20px; /* Distanza dalla parte destra */
}

#timeSeries {
    top: 0; /* Distanza dalla parte superiore */
    right: 10px; /* Distanza dalla parte destra */
    left: 0; /* Distanza dalla parte destra */
}

.slider-container {
    display: flex;
    align-items: center;
    position: relative;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 8vw; /* Full-width */
    height: 0.3vw; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    min-height: 3px; /*min height dello slider*/

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.7vw;
    height: 0.7vw;
    min-height: 7px; /*min height del pallino dello slider*/
    min-width: 7px; /*min width del pallino dello slider*/
    background: #a1987d;
    border: 1px solid #a1987d;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #888;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    text-align: center;
    font-weight: bold;
}

.button {
    cursor: pointer;
    background-color: rgb(128, 128, 128);
    color: white;
    border: black;
    border-radius: 30%;
    width: 1vw;/*1vw;*/
    height: 1vw;/*1vw;*/
    font-size: 16px;
    display: flex;
    align-items: center; /* Centra verticalmente il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    margin: 5px;
    stroke: black;
    stroke-width: 1;
    background-size:cover;
    min-width: 12px; /* Imposta la larghezza minima */
    min-height: 12px; /* Imposta l'altezza minima */
}

button.btn-small {
    font-size: 13px;
    font-family: Lora, serif;
    color: #524a32;
    /*border: 1px solid #524a32;*/
    width: 135px;
    text-align:left;
    /*margin-bottom: 15px;*/
}


#option1Collapse {
    font-size: 13px;
    font-family: Lora, serif;
    color: #524a32;
    width: 125px;
    /*border-radius: 5%;*/
    margin-bottom: 15px;
    margin-left: 25px;
    text-align:left;

}

#option2Collapse {
    font-size: 13px;
    font-family: Lora, serif;
    color: #524a32;
    width: 125px;
    /*border-radius: 5%;*/
    margin-bottom: 15px;
    margin-left: 25px;
    text-align:left;
}

#choose {
    font-size:16px;
    font-family: Lora, serif;
    color: #524a32;
    font-weight: bold;
    text-align:center;
}

#container1, #container2 {
   text-align: -webkit-center;
   border-radius: 23px;
   max-height: 250px;
}

.selection-rect {
    fill: rgba(0, 0, 255, 0.2); /* Colore di riempimento azzurro trasparente */
    stroke: #000;
    stroke-width: 0.5;
}


.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #facdcd; /*provare anche #fca9a9*/
  box-shadow: 0 2px 4px darkslategray;
  transition: .4s;
  border-radius: 34px;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #827c68;
  opacity: 0.8;
  transition: .4s;
  border-radius: 50%;
  cursor: pointer;

}

.slider-labels {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.slider-labels span {
  flex: 1;
  text-align: center;
  padding: 0 5px;
}

.switch input:checked + .slider-switch {
  background-color: #2196F3;
}

.switch input:checked + .slider-switch:before {
  transform: translateX(31px);
}

input[type="checkbox"]:checked + .slider-switch .slider-labels .on {
  display: block;
}

input[type="checkbox"]:checked + .slider-switch .slider-labels .off {
  display: none;
}

.slider-switch.checked:before {
    transform: translateX(31px);
}

.off, .on {
    color: #524a32;
    font-family: Lora, serif;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#zoom {
    font-family: Lora, serif;
    color: #524a32;
    font-weight: bold;
    font-size: 18px;
    line-height: 3;
}

.pop-animation {
    animation: pop 0.5s ease-in-out forwards; /* Modifica la durata e l'effetto desiderato */
}
