@import url(https://fonts.googleapis.com/css?family=Lora);

#title{
    font-family: Lora;
    font-weight: bold;
    color: #524a32;
}

#period{
    font-family: Lora;
    color: #524a32;
}

#sliderValues{
    font-family: Lora;
    color: #524a32;
}

#sliderValue{
    font-family: Lora;
    color: #524a32;
}

.fontClass{
    font-family: Lora;
    color: #524a32;
}
.border-bottom{
    border:white;
}

body {
    font: 10px sans-serif;
    background-color: #f8f7f1;
}

.bar {
    cursor: pointer;
}

#popup {
    position: absolute;
    background-color: white;
    border: 0.1px solid #d4d0c5;
    border-radius: 9px;
    padding: 5px;
    z-index: 1;
    font-family: "Lora";
}

#popupChoropleth {
    position: absolute;
    background-color: white;
    border: 0.1px solid #d4d0c5;
    border-radius: 9px;
    padding: 5px;
    z-index: 1;
    font-family: "Lora";
    text-align: center;
}

.svg-container {
    display: inline-block;
    width: 100%;
    padding-top: 52.5%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-container-largo {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 44%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.bar {
    fill: orange;
}


.x.axis path {
    display: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}


/*style tooltip scatterplot*/
div.tooltip {
    position: absolute;
    text-align: center;
    padding: .2rem;
    background: #313639;
    color: #f9f9f9;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
    font-size: .7rem;
}

.dropDown {
    position: absolute;
    top:230px;
    left: 85px;
    width: min-content !important;
    transform: scale(0.8);
    z-index: 10;
}

#top10, #top10label{
    position: absolute;
    top:290px;
    transform: scale(0.8);
    left: 90px;
    z-index: 10;
}
#worst10, #worst10label{
    position: absolute;
    top:320px;
    transform: scale(0.8);
    left: 90px;
    z-index: 10;
}

#top10label{
    top:284px;
    left:100px;
}

#worst10label{
    top:313px;
    left:100px;
}

/* cose del parallel da esempio github */
svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

#anim { position: relative;
    animation: myfirst 1.7s 1;
    animation-direction: normal ;
}
#animTwo { position: relative;
    animation: myfirst 1.7s 1;
    animation-direction: normal ;
}

@keyframes myfirst {
    0%   { top: -32px;}
    100% { top: 0px;}
}

#animThree { position: relative;
    animation: mysecond 1.7s 1;
    animation-direction: normal ;
}

#animFour { position: relative;
    animation: mysecond 1.7s 1;
    animation-direction: normal ;
}


@keyframes mysecond {
    0%   { bottom: -32px;}
    100% { bottom: 0px;}
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

button.circular-button {
    width: 40px; /* Diametro */
    height: 40px; /* Diametro */
    border-radius: 50%; /* Rende il bordo circolare */
    border: 1px solid #d4d0c5; /* Imposta il bordo a 0.5px di spessore e colore nero */
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    align-content: center;
    transition:all 0.3s;
    box-shadow: 0 2px 4px darkslategray;
}

button.bucket {
    width: 40px; /* Diametro */
    height: 40px; /* Diametro */
    border-radius: 50%; /* Rende il bordo circolare */
    border: 1px solid #f7f3eb; /* Imposta il bordo a 0.5px di spessore e colore nero */
    line-height: 40px;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    align-content: center;
    transition:all 0.3s;
}

@keyframes pop {
    0% {
        clip-path:circle(5%);
        transform:scale(0.5);
    }
    100% {
        clip-path:circle(50%);
        transform:scale(1);
    }
}

#choroplethMap {
    top: 5px; /* Distanza dalla parte superiore */
    right: 20px; /* Distanza dalla parte destra */
    left: 20px; /* Distanza dalla parte destra */
}
#timeSeries {
    top: 0px; /* Distanza dalla parte superiore */
    right: 10px; /* Distanza dalla parte destra */
    left: 0px; /* Distanza dalla parte destra */
}
.slider-container {
    display: flex;
    align-items: center;
    position: relative;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 8vw; /* Full-width */
    height: 0.3vw; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    min-height: 3px; /*min height dello slider*/

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.7vw;
    height: 0.7vw;
    min-height: 7px; /*min height del pallino dello slider*/
    min-width: 7px; /*min width del pallino dello slider*/
    background: #a1987d;
    border: 0.5px solid #a1987d;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #888;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.slider-value {
    text-align: center;
    font-weight: bold;
}

.button {
    cursor: pointer;
    background-color: rgb(128, 128, 128);
    color: white;
    border: black;
    border-radius: 10%;
    width: 1vw;/*1vw;*/
    height: 1vw;/*1vw;*/
    font-size: 16px;
    display: flex;
    align-items: center; /* Centra verticalmente il contenuto */
    justify-content: center; /* Centra orizzontalmente il contenuto */
    margin: 5px;
    stroke: black;
    stroke-width: 1;
    background-size:cover;
    min-width: 12px; /* Imposta la larghezza minima */
    min-height: 12px; /* Imposta l'altezza minima */
}

/*p {
    margin-top: 14px;
    margin-bottom: 1rem;
}*/



.switch {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider-switch {

}

input:focus + .slider-switch {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider-switch:before {
  -webkit-transform: translateX(31px);
  -ms-transform: translateX(31px);
  transform: translateX(31px);
}

/* Rounded sliders */
.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}
